body{
    background-color: #FFB357;
}

h1{
    font-size: 30px;
    color: #E86043;
}

button{
    background-color: #DAFF7B;
    border: none;
    : 20px;
}
@media only screen and (max-width: 600px) {
    .img_chat{
       width: 50%;
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 50%;

    }
    .text{
        position: center;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        text-align: center;
    }
  }

@media only screen and (min-width: 601px){
    .img_chat{
        width: 50%;
        max-width: 500px;
        float: left;
    }

    .text{
        position: relative;
        top: 40px;
        float: left;
    } 
}


a.button {
    display: inline-block;
    width: auto;
    padding: 10px 25px;
    text-decoration: none;
    top: 10px;
    position: relative;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #E86043;
    margin: 0 auto 20px;
    border-radius: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}
a.button:hover {
    margin-top: -5px;
    margin-bottom: 25px;
}